*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
html{
    font-size: 10px;
}
header{
   background-color: #C2E5D3;
   background-image: url("data:image/svg+xml,%3Csvg width='1440' height='754' viewBox='0 0 1440 754' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1440 24.8274C1440 141.874 1440 804 1440 804C1440 804 -7 862.046 -7 745C-7 627.954 731.349 242.585 851.04 242.585C970.731 242.585 1440 -92.219 1440 24.8274Z' fill='%23B2D2C2'/%3E%3C/svg%3E");
   padding: 1.5rem 0;
}
.header-div{
    width: 83vw;
    /* border: 1px solid red; */
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 8rem;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 45%;
    list-style: none;
}
.nav-ul a{
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}
.nav-ul a:nth-child(1){
    color: #015027;
    font-weight: 600;
}
.logo-div img{
    width: 60%;
}
.nav-ul div img{
    width: 60%;
}
.header-cnt1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.modern-txt h3{
    font-size: 4rem;
    margin-bottom: 1rem;
   
}
.modern-txt p{
    font-size: 1.9rem;
}
.btn1{
    background-color: #006732;
    border: none;
    color: #fff;
    border-radius: .6rem;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
}
.btn1 p{
    font-size: 1.3rem;
    font-weight: 300;
}
.modern-txt{
    /* border: 1px solid blue; */
    width: 55%;
}
.modern-img{
    /* border: 1px solid blue; */
    flex-basis: 50%;
}
.modern-img img{
    width: 75%;
}
.img-flex{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    /* border: 1px solid red; */
}
.img-flex .ellipse{
    margin-left: 7rem;
    margin-top: -2rem;
}
.ellipse img{
    width: 55%;
}
.icons-grp{
    margin: 0 0 0 3rem;
}
.icons-grp img{
    width: 65%;
    /* border: 1px solid black; */
}
.svg-div{
    width: 90vw;
}
.furn-rtgs{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
.furn-divs img{
    width: 60%;
}